<html data-namespace-typo3-fluid="true" lang="en"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

<f:render section="Before" arguments="{_all}" optional="true" />

<div class="module {moduleClass}" data-module-id="{moduleId}" data-module-name="{moduleName}">
	<f:if condition="{docHeader.enabled}">
		<f:render partial="DocHeader" arguments="{docHeader:docHeader}" />
	</f:if>
	<div class="module-body t3js-module-body">
		<f:flashMessages queueIdentifier="{flashMessageQueueIdentifier}" />

		<div class="btn-group" role="group">
			<f:link.action action="list" class="btn btn-default" controller="Bouncemail">
				<f:translate key="module.bouncereports.link.action.bouncereport">bouncereport</f:translate>
			</f:link.action>
			<f:link.action action="recipientlist" class="btn btn-default" controller="Recipientreport">
				<f:translate key="module.bouncereports.link.action.recipientreport">recipientreport</f:translate>
			</f:link.action>
		</div>

		<f:be.pageRenderer
			includeCssFiles="{0: 'EXT:rsmbouncemailprocessor/Resources/Public/Css/Modules.css'}"
			pageTitle="Bouncemail"/>
		<f:render section="content" arguments="{_all}" optional="true" />
	</div>
</div>

<f:render section="After" arguments="{_all}" optional="true" />

</html>
